@font-face {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v9/7cH1v4okm5zmbvwkAx_sfcEuiD8jPvKsNNC_nps.woff2)
    format("woff2");
}
@font-face {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v9/7cH1v4okm5zmbvwkAx_sfcEuiD8jPvKsPdC_nps.woff2)
    format("woff2");
}
@font-face {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v9/7cH1v4okm5zmbvwkAx_sfcEuiD8jPvKsN9C_nps.woff2)
    format("woff2");
}
@font-face {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v9/7cH1v4okm5zmbvwkAx_sfcEuiD8jPvKsOdC_.woff2)
    format("woff2");
}
@font-face {
  font-family: "TrebuchetMS";
  font-style: normal;
  src: url(http://db.onlinewebfonts.com/t/03e852a9d1635cf25800b41001ee80c7.woff2)
    format("woff2");
}
@font-face {
  font-family: "TrebuchetMS";
  font-style: normal;
  src: url(http://db.onlinewebfonts.com/t/03e852a9d1635cf25800b41001ee80c7.woff)
    format("woff");
}
@font-face {
  font-family: "TrebuchetMS";
  font-style: normal;
  src: url(http://db.onlinewebfonts.com/t/03e852a9d1635cf25800b41001ee80c7.eot)
    format("eot");
}
@font-face {
  font-family: "TrebuchetMS";
  font-style: normal;
  src: url(http://db.onlinewebfonts.com/t/03e852a9d1635cf25800b41001ee80c7.ttf)
    format("truetype");
}

.external {
    display: flex;
}
.internally {
    margin: auto;
    position: center;
}

.h2-text {
    font-size: 36px;
    font-family: "Exo 2", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    position: center;
}


.flex-container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-container-inner {
    flex-direction: column;
    text-align: center;
    animation: hoverdelay 2s;
}

.box {
    display: flex;
    width: 300px;
    height: 454px;
    margin: 40px;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.inner {
    color: #666666;
    font-size: 15px;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: 500;
    margin-left: 40px;
    margin-top: 23px;
    text-align: left;
}

.text-1 {
    color: #000000;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 44px;
    font-weight: 600;
    margin: 5px 0 0 0;
}

.text-2 {
    color: #000000;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 9px 0;
}

.fat {
    font-family: "Trebuchet MS", sans-serif;
    font-weight: 700;
}

.a {
    background-image: url('images/Default.png');
}

.mass {
    width: 7em;
    text-align: center;
    position: absolute;
    margin: 370px 0 0 181px;
    color: #ffffff;
    font-size: 19px;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: 500;
}

.size {
    margin-bottom: -8px;
    font-size: 40px;
}

.footer {
    font-size: 14px;
    font-family: "Trebuchet MS", sans-serif;
    color: rgb(255, 255, 255);
    margin-top: -30px;
    text-align: center;
}
.footer_span {
    color: #138ac6;
    border-bottom: 2px dashed #138ac6;
}

.flex-container-inner:hover .footer_span{
    color: #2ea8e6;
    border-bottom: 2px dashed #2ea8e6;
}

.footer_span_disabled {
    color: #ffff66
}

.title_click_hover {
    color: #e62e7a
}

@keyframes hoverdelay {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
